@font-face {
  font-family: noto-sans-hans-heavy;
  src: url("./NotoSansHans-Heavy.otf");
}

@font-face {
  font-family: noto-sans-hans-bold;
  src: url("./NotoSansHans-Bold.otf");
}

@font-face {
  font-family: noto-sans-hans-medium;
  font-style: normal;
  font-weight: 100;
  src: url("./NotoSansHans-Medium.otf");
}

@font-face {
  font-family: noto-sans-hans-medium;
  src: url("./NotoSansHans-Medium.otf");
}

@font-face {
  font-family: noto-sans-hans-normal;
  src: url("./NotoSansHans-Normal.otf");
}

@font-face {
  font-family: noto-sans-hans-regular;
  src: url("./NotoSansHans-Regular.otf");
}

* {
  font-family: noto-sans-hans-normal, Arial, sans-serif;
}

.font-heavy {
  font-family: noto-sans-hans-heavy, Arial, sans-serif;
}

.fonts-bold {
  font-family: noto-sans-hans-bold, Arial, sans-serif;
}
